dist: trusty
sudo: false
language: csharp
mono: none
dotnet: 1.0.1
services:
  - docker
script:    
  - dotnet restore ./Application.Tests/Application.Tests.csproj
  - dotnet test ./Application.Tests/Application.Tests.csproj
  - cd Application
  - npm install
  - npm test
  - sh buildscripts/build_publish_docker_image.sh 